extends layout

block content
  nav.pink.darken-4
    .nav-wrapper
      .brand-logo.left The Syncker
      ul.right
        li
          span.chip.green.icon.darken-1.text-white.serviceIsRunning.isHideOnInit Running...
          
          span.chip.red.darken-1.icon.text-white.serviceIsStoped Stoped
  .progress#loader.green.isHideOnInit
    .indeterminate
  .container
    h3 Console
    .card#app-console
      .card-content.console
