extends layout

block content
  nav.pink.darken-4
    .nav-wrapper
      .brand-logo.left The Syncker
      ul.right
        li
          span.chip.green.darken-1.text-white.serviceIsRunning.isHideOnInit Running...
          a.waves-effect.waves-light.btn.red.darken-1.serviceIsRunning.isHideOnInit#stopServiceBtn Stop
            i.material-icons.left sync_disabled
          
          span.chip.red.darken-1.text-white.serviceIsStoped Stoped
          a.waves-effect.waves-light.btn.green.darken-1.serviceIsStoped#startServiceBtn Start
            i.material-icons.left sync
  .progress#loader.green.isHideOnInit
    .indeterminate
  .container
    h3 Console
    .card#app-console
      .card-content.console
